<nav class="nav container">
    <div class="nav_logo">
        <img class="logo"
            src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/logo.png?alt=media&token=0b0fd738-7b01-46d0-8398-059f086c3c1e">
        <h2 class="nav_title">Loren's</h2>
    </div>
    <UL class="nav_link">
        <li class="nav_items">
            <a class="nav_links" href="home">Inicio</a>
        </li>
        <li class="nav_items">
            <a class="nav_links" href="productos">Productos</a>
        </li>
        <li class="nav_items">
            <a class="nav_links" href="nosotros">Nosotros</a>
        </li>
        <li class="nav_items">
            <a class="nav_links" href="ofertas">Ofertas</a>
        </li>
        <li class="nav_items">
            <a class="nav_links" href="contactos">Contacto</a>
        </li>
    </UL>
</nav>