/**---------------------------------*/
.gallery_picture{
    position: relative;
    object-fit: cover;
    align-items: center;
    padding:50px;
    margin: 1px auto 1px;
}
.maps{
    border-radius: 15px 15px 15px 15px;
    width: 1024px;
    height: 500px;
}