<header class="hero">
    <app-navbar></app-navbar>
    <main>
        <section class="contact">
            <b><h2>Agende su cita</h2></b>
            <div class="about_main">
                <article class="about_icons">
                    <a class="about_icon" href="+593963782899">
                        <img src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/call.svg?alt=media&token=140398b8-c2cc-48ad-8f9b-c1434a5a61bc">
                    </a>
                    <h3>Llamanos</h3>
                    <p class="about_paragraph">0963782899</p>
                </article>
                 <article class="about_icons">
                    <a class="nav_links" href="https://api.whatsapp.com/send/?phone=593963782899">
                        <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/whatsapp.png?alt=media&token=b281d078-603f-484c-ade9-68c147913f7c">
                    </a>
                    <h3>Whatsapp</h3>
                    <p class="about_paragraph">0963782899</p>
                </article>
                 <article class="about_icons">
                    <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/gmail.svg?alt=media&token=580d6935-a17d-436a-8f30-2e1ef36a064e">
                    <h3>Correo Electrónico</h3>
                    <p class="about_paragraph">lorensnails&hair@gmail.com</p>
                </article>
                 <article class="about_icons">
                    <a class="nav_links" href="ubicacion">
                        <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/map.svg?alt=media&token=05dd4352-4b66-4c7d-9649-3885bdc6b867">
                    </a>
                    <h3> Ubicación</h3>
                    <p class="about_paragraph">Sector San Rafael</p>
                </article>
            </div>
        </section>
    </main>
    <section class="gallery_picture contact2">
        <a class="cta" href="citas">Comienza ahora</a>
    </section>
</header>
