<header class="hero">
    <app-navbar></app-navbar>
    <main>
        <section class="contact">
            <div class="knowledge_container">
                <div>
                    <h1>Loren's</h1>
                    <P class="knowledge_paragraph">Sala de Belleza Lorend's es una de las más reconocidas en la ciudad. Desde su inauguración hace más de una década, se ha convertido en el lugar favorito de muchas personas que buscan un servicio de alta calidad y profesionalismo en el cuidado de su cabello.<br>&nbsp;<br>
                        Cuenta con un equipo de estilistas altamente capacitados que se mantienen al día con las últimas tendencias y técnicas en el cuidado del cabello, utilizando productos de alta calidad para garantizar los mejores resultados en cada corte, peinado o tratamiento capilar.<br>&nbsp;<br>
                        Además, ofrece una amplia gama de servicios, desde cortes y peinados hasta tratamientos de color, alisado y ondulado, extensiones y mucho más. También tienen un servicio especial para bodas y eventos, donde el equipo de estilistas se encarga de crear peinados y maquillajes espectaculares para las ocasiones más especiales.<br>
                    </P>
                    <a class="cta" href="home">Galería</a>
                </div>
                <figure class="knowledge_picture">
                    <img class="knowledge_img" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/logo.png?alt=media&token=0b0fd738-7b01-46d0-8398-059f086c3c1e">
                </figure>
            </div>    
        </section>
    </main>
</header>
