<header class="hero">
  <app-navbar></app-navbar>
  <nav>
    <form class="form-inline" action="/admin">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="id" #id />
      </div>
      <div class="form-group">
        <label for="">Nombre:</label>
        <input type="text" class="form-control" #nom />
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="text" class="form-control" #precio />
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="text" class="form-control" #cantidad />
      </div>
      <br /><br />
      <button
        type="button"
        class="btn btn-warning"
        (click)="
          guardarAcrilico(id.value, nom.value, precio.value, cantidad.value)
        "
      >
        AGREGAR
      </button>
      <br /><br />
      <button
        type="button"
        class="btn btn-secondary"
        (click)="
          actualizarAcrilico(id.value, nom.value, precio.value, cantidad.value)  ">Editar</button>

      <br><br>
      <button
        type="submit"
        class="btn btn-info"
        (click)="eliminarAcrilico(id.value)"> Borrar</button>
      <br /><br /><br /><br />
    </form>
  </nav>
</header>
