<section class="hero">
    <app-navbar></app-navbar>
    <nav>
        <div class="gallery_container">
            <img class="gallery_arrow"
                src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/left-arrow1.png?alt=media&token=4fd7c864-ca2e-456b-82c8-250313d8491a"
                id="anterior">
            <section class="gallery_body gallery_body--show" data-id="1">
                <figure class="gallery_picture">
                    <img class="gallery_img"
                        src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/img1.jpg?alt=media&token=737a4b88-d6ed-4827-98ef-185e04b33ab1">
                </figure>
            </section>
            <section class="gallery_body" data-id="2">
                <figure class="gallery_picture">
                    <img class="gallery_img"
                        src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/img2.jpg?alt=media&token=28efa241-6bc1-4498-afc5-13ff42121381">
                </figure>
            </section>
            <section class="gallery_body" data-id="3">
                <figure class="gallery_picture">
                    <img class="gallery_img"
                        src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/img3.jpg?alt=media&token=999cf5be-8b05-4fd2-9b71-ba29cc961354">
                </figure>
            </section>
            <section class="gallery_body" data-id="4">
                <figure class="gallery_picture">
                    <img class="gallery_img"
                        src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/img4.jpg?alt=media&token=791acc80-03ed-45f5-b018-7ed1547854a6">
                </figure>
            </section>
            <img class="gallery_arrow"
                src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/right-arrow.png?alt=media&token=341b0a1c-5d55-4cdf-b7fb-739e7c0bbe42"
                id="siguiente">
        </div>
        <section class="gallery_picture contact2">
            <a class="cta" href="citas">Agenda tu cita</a>
        </section>
    </nav>
</section>