<header class="hero">
    <app-navbar></app-navbar>

        <section class="contact">
            <b><h2>Nuestros Servicios</h2></b>
            <p class="about_paragraph">Nuestra atención es de primera, y nuestros productos de la mejor calidad.</p>
            <div class="about_main">
                <article class="about_icons">
                    <a href="rostro">
                        <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/rostro.png?alt=media&token=13ebe8c0-8bd1-436f-b3a2-4d641c88d3df">
                    </a>
                    <h3>Rostro</h3>
                    <p class="about_paragraph">Te ofrecemos los servicios de rizado de pestañas, lifting, diseños de cejas con depilación usando cera o navaja, planchado de cejas, pigmentación, pigmentación de cejas con henna, todo tipo de maquillaje, etc.</p>
                </article>
                <article class="about_icons">
                    <a href="acrilico">
                        <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/unas.png?alt=media&token=686dc30b-e935-4d25-8f69-c9447aef97cb">
                    </a>
                    <h3>Uñas</h3>
                    <p class="about_paragraph">Te ofrecemos las mejores técnicas con los servicios de gel semi permanente, baño de acrílico, baño de poligel, uñas acrílicas, uñas esculturales con acrílico y polige, usando variedad de técnicas a su elección.</p>
                </article>
                <article class="about_icons">
                    <a href="cabello">
                        <img class="about_icon" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/cabello.png?alt=media&token=7d4950f6-4bd7-4b01-8e8e-3554438d6dc7">
                    </a>
                    <h3>Cabello</h3>
                    <p class="about_paragraph">Te ofrecemos los servicios de tinturado, mechas, iluminaciones, planchados, express, ondulaciones, base permanente y semi permanente, repolarizaciones, tratamientos capilares, cortes de cabello, etc.</p>
                </article>
            </div>
        </section>  

</header>