/**---------------------------------*/
.contact{
    padding-top: 20px;
    text-align: center;
    align-items: auto;
    padding-bottom: 20px;
    color: white;
}
.about_paragraph{
    line-height: 1.7;
}
.about_main{
    padding-top: 50px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto; 
} 
.about_icon{
    width: 40px;
}