<header class="hero">
  <main>
    <h2 class="contact">Esmalte de Uñas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acccion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataAcrilico">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.precio }}</td>
          <td>{{ item.cantidad }}</td>
          <td>
            <a class="btn btn-success" routerLink="/form/{{ item.id }}"
              >Editar</a
            >
            <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</header>
